.ext-cross:before, .ext-cross:after,
.checkbox__checker:before, .checkbox__checker:after,
.checkbox__cross:before, .checkbox__cross:after,
.checkbox__ok:before, .checkbox__ok:after
 {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 2px;
    margin: 0 auto;
    top: 10px;
    left: 0;
    right: 0;
    background-color: #bf1e1e;
    border-radius: 5px;
    transition-duration: .3s;
}

.ext-cross:before,
.checkbox__checker:before,
.checkbox__cross:before,
.checkbox__ok:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.ext-cross:after,
.checkbox__checker:after,
.checkbox__cross:after,
.checkbox__ok:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.ext-ok:before, .checkbox__toggle:checked + .checkbox__checker:before, .checkbox__ok:before, .ext-ok:after, .checkbox__toggle:checked + .checkbox__checker:after, .checkbox__ok:after {
    background-color: #0cb018;
}

.ext-ok:before, .checkbox__toggle:checked + .checkbox__checker:before, .checkbox__ok:before {
    width: 6px;
    top: 13px;
    left: -7px;
}
.ext-ok:after, .checkbox__toggle:checked + .checkbox__checker:after, .checkbox__ok:after {
    width: 12px;
    left: 5px;
}

.checkbox {
    width: 60px;
    margin: 0 auto 5px auto;
}
.checkbox__container {
    display: block;
    position: relative;
    height: 20px;
    cursor: pointer;
    border-color: #ababab;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    background-color: #cbcbcb;
}
.checkbox__toggle {
    display: none;
}
.checkbox__toggle:checked + .checkbox__checker {
    left: calc(100% - 20px);
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.checkbox__checker, .checkbox__cross, .checkbox__ok {
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -1px;
    left: 0;
    z-index: 1;
}

.checkbox__checker {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transition: .3s;
    z-index: 2;
}
.checkbox__checker:before, .checkbox__checker:after {
    transition-duration: .3s;
}
.checkbox__cross:before, .checkbox__cross:after, .checkbox__ok:before, .checkbox__ok:after {
    background-color: #fff;
}
.checkbox__ok {
    left: calc(100% - 20px);
}
.checkbox__txt-left, .checkbox__txt-right {
    display: block;
    position: absolute;
    width: 42px;
    top: 15px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    z-index: 1;
}
.checkbox__txt-right {
    right: 0;
}
.checkbox__bg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
    width: 100%;
    height: 100%;
}

.disabled:before, .disabled:after {
    background-color: #ababab !important;
}

.option {
    margin-top: 10px;
}

.group-selected {
    background-color: #4caf50;
    background-image: linear-gradient(#4caf50 0, #56d25b 100%);
}

#updateGroupRights {
    margin: 5px auto;
}
.view-container {
    overflow-y: auto;
    height: 180px;
}
.table-rights>tbody>tr>td:first-child {
    overflow-x: hidden;
    text-align: left;
}
.table-rights>thead>tr>th {
    background-color: whitesmoke;
}
.table-fixed {
    width: 100%;
}
.table-fixed>tbody>tr>td{
    float: left;
}
.table-fixed>thead>tr {
    padding-right: 15px;
}
.table-fixed>thead>tr>th{
    float: left;
}
.table-fixed>tbody{
    overflow-y: scroll;
    width: 100%;
}
.table-fixed>thead, .table-fixed>tbody,
.table-fixed tr, .table-fixed td, .table-fixed th{
    display:block;
}
.table-rights {
    text-align: center;
}
.table-xs {
    margin: 0;
    padding: 0;
}
.table-xs>tbody>tr>td, .table-xs>thead>tr>th {
    width: 12%;
    padding: 2px 5px;
}
.table-xs>tbody>tr>td:first-child,
.table-xs>thead>tr>th:first-child {
    width: 52%;
}
.user-group:nth-child(odd) {
    background-color: lightgrey;
}
.user-group {
    padding: 3px 15px;
}
.spanButton {
    background-color: inherit;
    border: none;
}

.btn-select {
    background-color: transparent;
}