/*
*   Basics parameters
*/

body{
    font-size: 12px!important;/**/
}
/*
*   App
*/
.panel-heading-wrapper {
    height: 28px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pillsWrapper{
    height: 28px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.hrBo {
    margin-left: auto;
    margin-right: auto;
}
.bg-flash {
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 15px;
}
.bg-danger {
    border: 1px solid crimson;
}
.bg-warning {
    border: 1px solid gold;
}
.bg-success {
    border: 1px solid #00cc00;
}
.bg-info {
    border: 1px solid #002a80;
}
.number-plus, .number-minus {
    cursor: pointer;
}
.SpaceTop {
    margin-top: 23px;
}

.input-group-span{
    min-width: 110px;
}
.no-resize {
    resize: none;
}
/*
*  Settings
*/

.wrapStartEnd {
    display: flex;
    align-items: stretch;
}
.wrapStartEnd div {
    align-self: center;
}
.confDayCalendar {
    display: flex;
    align-items: center;
    vertical-align: center;
}
.customColor .active a,
.customColor .active a:hover {
    background-color: #404040!important;
}
.customColor a {
    background-color: #fdfdfd!important;
}
.customColor a:hover {
    background-color: #d9d9d9!important;
}

/*
* Calendar
*/

.calendar-status {
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.closeEvent {
    position: absolute;
    top : 0;
    right: 0;
    font-size: 2em;
    transform: translateY(-30%);
    z-index: 999;
}

/*
* Pack
*/

.box-pack{
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 4px;
}

/*
* Recruitment
*/
 .circle-ok{
     position: absolute;
     background-color: #31b0d5;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     border: 1px solid black;
     margin-top: 10px;
 }
.circle-nok{
    background-color: #414142;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: 10px;
}

/*
*   Listfile from providers
*/

.border-danger {
    background-color: #ff6666 !important;
}
.filelist-container > div {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}
.filelist-container > div >span:nth-child(n) {
    border-left: 2px solid #31302B;
    border-right: 2px solid #31302B;
    border-top: 1px solid #31302B;
    border-bottom: 1px solid #31302B;
}
.filelist-container > div >span:first-child {
    border-top: 2px solid #31302B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filelist-container > div >span:last-child {
    border-bottom: 2px solid #31302B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.filelist-container .button {
    cursor: pointer;
    background: #39D2B4;
    color: #fff;
    border: 1px solid #31302B;
}
.filelist-container .button:hover {
    background: #34495E;
    color: #39D2B4;
}

/*
* Custom input number
*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/*
* Autocomplete jquery css sourced at https://github.com/devbridge/jQuery-Autocomplete
*/

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
/*
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
*/
/*
*  Général
*/

.clickable-row{
    cursor: pointer;
}

/*
* Input file client
*/

.input-file-container {
    position: relative;
    width: 100%;
    text-align: center;
}
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

/*
* Mission table client
*/

.MissionTable{
    font-size: 1em;
}
#table_NewMission thead{
    background-color: #2ecc71;
    color: whitesmoke;
}
#table_OldMission thead{
    background-color: #F44336;
    color: whitesmoke;
}
.MissionTable tbody tr:nth-of-type(odd){
    background-color: whitesmoke;
}

/*
* Stat table client
*/

.stat-row{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 8em;
    padding: 0.5em;
}
.stat-row-container div:nth-of-type(even){
    /*background-color: #a7dbc1;*/
    background-color: whitesmoke;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.stat-row-container div:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.stat-row-container div:last-child{
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.stat-row :nth-child(1){
    font-size: 1em;
}
.stat-row .number {
    font-size: 3.5em;
}
.stat-row > div {
    flex: 1;
    position: absolute;
    bottom: 0.2em;
    right: 0.5em;
}


/*
* Adress Client
*/


.HideMe{
    display: none;
}

.address-prop {
    display: flex;
    justify-content: space-around;
}
.address-prop span {
    border: 1px solid grey;
    background-color: whitesmoke;
}


/*
* Custom add-on to admin template
*/

.linkInLi {
    float: right;
}
.linkInLi:hover {
    color: green;
}

/*
* Template admin
*/

/** custom jaybi **/
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px!important;
}
.navbar {min-height:28px !important;}
/** custom jaybi **/

.side-menu-container a[class="menu-add"] {
    position: absolute;
    right: 0;
    top: 0;
}
.side-menu-container a[class="menu-add"]:hover span {
    color: #00cc00;
}

h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container {
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}

:focus {
    outline: none;
}

.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
    border: none;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 10px;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
.side-menu .vdropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.side-menu .vdropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.side-menu .vdropdown .indicator {
    float: right;
}
.side-menu .vdropdown > a {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .vdropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}
.side-menu .vdropdown .panel-body .navbar-nav {
    width: 100%;
}
.side-menu .vdropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .vdropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}
.side-menu .vdropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}
.side-menu .vdropdown .panel-body .panel-body {
    margin-left: -15px;
}
.side-menu .vdropdown .panel-body .panel-body li {
    padding-left: 30px;
}
.side-menu .vdropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
    min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}
.side-menu #search {
    position: relative;
    z-index: 1000;
}
.side-menu #search .panel-body {
    padding: 0;
}
.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}
.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}
/* Main body section */
.side-body {
    margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
    }

    .side-menu .navbar {
        z-index: 999;
        position: relative;
        height: 0;
        min-height: 0;
        background-color: inherit !important;
        border-color: inherit !important;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        overflow: auto;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle-sidebar {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .side-menu .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    .vdropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

/*
*   ---- LOG IN style ----
*/

.login-body {
    background-color: #27374D;
}
.login-body hr {
    border-color: #333333;
}
.login-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2em;
}
.login-wrapper {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 17px;
}
.login-head, .login-foot {
    text-align: center;
}
.login-foot {
    margin-top: 17px;
}

/*
*   ---- LOG IN style ----
*/

.img-logo {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}
.valign-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-maintenance > thead th{
    text-align: center;
}
.table-section-per .task-box {
    background-color: #ffeecc;
}
.table-section-opt .task-box {
    background-color: #ffb3b3;
}
.table-section-rec .task-box {
    background-color: #c2f0f0;
}
.task-box {
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.task-box img {
    height: 36px;
}
.task-separator {
    color: rgba(0, 0, 0, 0.2);
}
.table-maintenance tbody > tr > td > div {
    margin-bottom: 0.6em;
}
.table-maintenance tbody > tr > td > button {
    width: 100%;
}
.table-maintenance tbody > tr > td > button:hover {
    color: #2b669a;
    border: 1px solid #2b669a;
}
select.taskSelect option:before {
    float: right;
    content: attr(data-time);
    color: gray;
}
.table-maintenance tbody > tr > td {
    min-width: 250px;
}
.noPadding {
    padding: 0!important;
}
.btn-delete-soft {
    background-color: #ADEA38;
    color: whitesmoke;
}
.input-group.two-addon > label{
    width: 50%;
}
.input-group.two-addon > input{
    width: 100%;
}
.input-group.two-addon > span{
    /*width: 10%;*/
}
.btn-drop-user button:hover{
    color: black;
    background-color: #99ccff;
}
.btn-drop-user button{
    background-color: transparent;
}
.noMargeBottom {
    margin-bottom: 0;
}
.vr-right {
    border-right: 2px solid #2b669a;
}
.hideInfo {
    display: none;
}
.getInfo {
    cursor: pointer;
}
.add-prev {
    display: none;
}
.panel-heading.panel-heading-xs {
    padding: 3px 3px 3px 10px;
    height: 25px;
}
.color-priority-low {
    color:  #e6e600!important;
}
.color-priority-high {
    color: #ff9933!important;
}
.color-priority-critic {
    color: #f44336!important;
}
.border-priority-low {
    border-left: 3px solid  #e6e600;
}
.border-priority-high {
    border-left: 3px solid #ff9933;
}
.border-priority-critic {
    border-left: 3px solid #f44336;
}
.bg-priority-low {
    background-color:  #e6e600!important;
}
.bg-priority-high {
    background-color: #ff9933!important;
}
.bg-priority-critic {
    background-color: #f44336!important;
}
.noMarge {
    margin: 0;
}
.noPadding {
    padding: 0;
}
.noSpace {
    margin: 0;
    padding: 0!important;
}
.feature-row button.glyphicon-remove {
    color: darkred;
    background-color: inherit;
    box-shadow: none;
    border: none;
    margin-top: 2px
}
.feature-row > p {
    padding: 3px;
    margin-bottom: 0;
}
.feature-row:nth-child(even) {
    background-color: lightgrey;
}
.feature-description {
    font-style: italic;
    color: lightslategrey;
}
.feature-url {
    margin-left: 5px;
    font-style: italic;
    color: lightslategrey;
}
.view-container-nobo {
    overflow-y: scroll;
    margin-top: 2em;
    border: 2px solid #DBEED4;
    border-radius: 3px;
}
.btn-inherit {
    background-color: inherit;
    border: inherit
}
.btn-inline-delete {
    color: red;
}
.btn-inline-delete:hover {
    padding-right: 10px;
}
.input-xs {
    height: 22px!important;
    padding: 2px 5px!important;
    font-size: 12px!important;
    line-height: 1.5;
    border-radius: 3px;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px!important;
    line-height: 1.5;
}