.lock_icon > img {
    height: 11px;
    width: 11px;
}
.lock_icon {
    position: absolute;
    top: 0;
    right: 0;
}
span.validated_mission {
    background-color: rgb(151, 224, 141);
}
.fc-v-event .customer_name{
    font-weight: bold;
}
.fc-v-event {
    color: #3b4047;
    border-radius: 1px;
    opacity: 0.70;
    padding: 3px;
}
.fc-day-header.fc-today{
    background: red !important;
}
.hours_show{
    font-size: 12px;
    border: 1px solid black;
}
.fc-now-indicator-line{
    border-top-width: 2px !important;
}
.fc-bg {
    cursor: pointer;
}
.fc-content {
    cursor: pointer;
}
.fc-day.fc-today{
    background: #FFF !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}
/* basic positioning */
.legend { list-style: none; padding: 15px;}
.legend li {float:left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .recurent_1 { background-color: rgb(154, 192, 205); }
.legend .recurent_2 { background-color: rgb(205, 154, 154); }
.legend .recurent { background-color: rgb(133, 133, 235); }
.legend .ponctuel { background-color: rgb(0, 10, 255); }