.btn-custom{
    max-width: 70px;
    height: 60px;
    vertical-align: top;
    border-radius: 5px;
}
.fc-nonbusiness {
    background: repeating-linear-gradient(
            60deg,
            #999999,
            #999999 5px,
            #d9d9d9 5px,
            #d9d9d9 10px
    );
}
.background-red{
    background-color: red;
    border: 1px solid darkred;
}
.background-yellow{
    background-color: #b3b3ff;
    border: 1px solid #6666ff;
}
.background-violet{
    background-color: violet;
    border: 1px solid darkmagenta;
}
.cell{
    border: 1px solid black;
    padding: 5px;
}
.toggle-cell:hover{
    border: 2px solid white;
}
.toggle-cell
{
    background-color: #e60000;
}
.selected{
    background-color: green;
}
.hidden_item{
    visibility: hidden;
}
/*
.fc-time{
    font-size: 14px;
    font-weight: bold;
    color: #0f0f0f;
}
.form-group{
    margin: 0;!important;
}
.addressPending {
    background-color: #ff9999;
}
*/
.provider_name {
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin-bottom: 2px;
    text-align: center;
    cursor:pointer;
    font-size: 12px;
}
.provider_name:hover {
    font-size: 15px;
}
.draggable_duration{
    margin-top: 4px;
    background-color: rgb(0,200,0);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    cursor:pointer;
}
.draggable_duration:hover {
    color: white;
}
.fc-day.fc-today{
    background: #FFF !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}
.fc-day-header.fc-today{
    background: red !important;
}
.hover_all{
    z-index: 1031 !important;
}
.pending_container{
    padding: 0px;
}
.pending_item{
    cursor: pointer;
    text-align: center;
}
.pending_item_info{
    font-size: 13px;
    font-weight: bold;

}
.modal {
    overflow-y:auto;
}
/* Absolute Center Spinner*/
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    /* overflow: show;*/
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
